body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
}
#game-board{
    background-color: rgb(49, 49, 49);
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(21, auto);
    grid-template-rows: repeat(21, auto);
}

.snake{
    background-color: green;
}
.food{
    background-color: red;
}